body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100wh;
    flex-direction: column;
}

.welcome {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: +99;
    width: 100vw;
    height: 120vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome .setting {
    width: 300px;
    background-color: white;
    text-align: center;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7), inset 0px 0px 10px rgba(0, 0, 0, 0.4);
    border: 0.5px solid rgba(0, 0, 0, 0.2);
}

.setting .name {
    padding-bottom: 12px;
    border-bottom: 0.5px solid black;
}

.setting .footer {
    font-size: 12px;
    color: #00e34c;
    font-weight: bold;
    font-family: serif;
    padding: 6px 0px;
    color: rgba(0, 0, 0, 0.9);
}

.welcome .setting .name input {
    border-radius: 5px;
    padding: 5px;
    outline: none;
    width: 80%;
    margin: 10px 0px;
}

.gameboard {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    position: relative;
    width: 500px;
    height: 500px;
}

.square {
    width: 6.66%;
    height: 6.66%;
    background-color: white;
    border: solid 1px #e5e5e569;
    border-collapse: collapse;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

.safe {
    background-color: #99999938;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.redplayer {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: solid 2px transparent;
    box-sizing: border-box;
    background-color: #D21312;
    position: relative;
}

.greenplayer {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: solid 2px transparent;
    box-sizing: border-box;
    background-color: #98D8AA;
    position: relative;
}

.yellowplayer {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: solid 2px transparent;
    box-sizing: border-box;
    background-color: #FDD36A;
}

.blueplayer {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: solid 2px transparent;
    box-sizing: border-box;
    background-color: #19A7CE;
}


/* .red {
    background-color: #D21312;
}

.green {
    background-color: #98D8AA;
}

.blue {
    background-color: #19A7CE;
}

.yellow {
    background-color: #FDD36A;
} */

p {
    font-size: 1rem;
    color: #2A2F4F;
    font-family: 'Indie Flower', cursive;
}

img {
    width: 40%;
}

.redDice {
    position: absolute;
    right: 550px;
    bottom: 350px;
    width: 20%;
    height: 20%;
}

.greenDice {
    position: absolute;
    left: 550px;
    bottom: 350px;
    width: 20%;
    height: 20%;
}

.yellowDice {
    position: absolute;
    left: 550px;
    bottom: -80px;
    width: 20%;
    height: 20%;
}

.blueDice {
    position: absolute;
    right: 550px;
    bottom: -80px;
    width: 20%;
    height: 20%;
}

.redName {
    position: absolute;
    right: 580px;
    bottom: 420px;
    font-size: 2rem;
    color: #394867;
    font-family: 'Indie Flower', cursive;

}

.greenName {
    position: absolute;
    left: 560px;
    bottom: 420px;
    font-size: 2rem;
    color: #394867;
    font-family: 'Indie Flower', cursive;

}

.yellowName {
    position: absolute;
    left: 560px;
    bottom: -10px;
    font-size: 2rem;
    color: #394867;
    font-family: 'Indie Flower', cursive;

}

.blueName {
    position: absolute;
    right: 580px;
    bottom: -10px;
    font-size: 2rem;
    color: #394867;
    font-family: 'Indie Flower', cursive;

}

.hidden {
    display: none;
}

.topLeft {
    width: 6.66%;
    height: 6.66%;
    background: linear-gradient(45deg, #FCC8D1 50%, #C7E9B0 50%);
    border-collapse: collapse;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}


.topRight {
    width: 6.66%;
    height: 6.66%;
    background: linear-gradient(135deg, #C7E9B0 50%, #FEFF86 50%);
    border-collapse: collapse;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomLeft {
    width: 6.66%;
    height: 6.66%;
    background: linear-gradient(135deg, #FCC8D1 50%, #C0DBEA 50%);
    border-collapse: collapse;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomRight {
    width: 6.66%;
    height: 6.66%;
    background: linear-gradient(225deg, #FEFF86 50%, #C0DBEA 50%);
    border-collapse: collapse;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}